.topnav {
  overflow: hidden;
  height: 100%;
}

a {
  height: 100%;
}

.topnav a {
  border-right: 1px solid black;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.topnav a:first-child {
  border-left: 1px solid black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: orange;
}
